---
import { PRIMARY_MENU_QUERY } from '../../graphql/MainMenu';
import { fetchGraphQL } from '../../services/wp-data';

const result = await fetchGraphQL(PRIMARY_MENU_QUERY);
const navItems = result?.menuItems?.nodes ?? [];

console.log(navItems);
---


<nav class="menu-menu-container">
  <ul id="menu-menu" class="nav-menu">
    {navItems.map((item: { uri: string; label: string }) => (
      <li class="menu-item"><a href={item.uri}>{item.label}</a></li>
    ))}
  </ul>
</nav>