---
import MainMenu from '../MainMenu/MainMenu.astro';
import SearchSuggestionBox from '../Search/SearchSuggestionBox.tsx';
---


<header class="header bg-primary fixed top-0 left-0 w-full z-[99999]">
	<section class="container mx-auto z-10 py-[10px] md:py-[15px] flex justify-between items-center">
			<a class="logo" href="/">
				<img src="/src/assets/svg/logo-white-header.svg" alt="Logo Dr. Sandoval" width="184" height="51.449" />
    </a>
		<div id="hamburguer" class="block md:hidden">
				<svg id="BOT-Menu-Mobile" xmlns="http://www.w3.org/2000/svg" width="23.646" height="15.764" viewBox="0 0 23.646 15.764"> <path id="Icon_material-menu" data-name="Icon material-menu" d="M4.5,24.764H28.146V22.137H4.5Zm0-6.568H28.146V15.568H4.5ZM4.5,9v2.627H28.146V9Z" transform="translate(-4.5 -9)" fill="#e4e4e4"></path> 
        </svg>
		</div>
		<div id="main-nav">
			<a class="flex justify-end mb-[10px] md:hidden" href="<?php echo home_url(); ?>">
				<img loading="lazy" src="" alt="Logo Dr.Sandoval Mobile">
			</a>


			<div class="py-[20px] md:hidden"><!--Search --> </div>

			<span class="!grid justify-end mb-[20px] w-full md:!hidden">
			
			</span>


			<!-- Menú -->
      <MainMenu />

			<div class="md:hidden flex gap-[10px] justify-end mt-[25px]">
					<!-- Redes Sociales -->
			</div>
		</div>

		<div class="hidden md:flex">
			<!--Search -->
			<SearchSuggestionBox client:load />

			<div class="redes">
				<!-- Redes Sociales -->
			</div>

		</div>



	</section>

</header>