@theme {
  --font-primary: Raleway, sans-serif;
  --color-primary: #0071b9;
  --color-secondary: #0f4b91;
  --color-tertiary: #41ba00;
  --color-cuaternary: #41ba00d9;
  --color-gray: #f8f8f8;
  --color-darkgray: #0000004d;
  --md: 1080px;
  --transition: transition-all duration-300 ease-out;
}

.container {
  padding-inline: 30px;
}
